/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


#title{
 color:#565264;
    background: #C4727F;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
 font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('your-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
   background-color: #565264;
	
}


header{ 
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

#author-perspective{
    color:black;
    background: #C4727F;
    	padding:20px;	

}

#my-response{
 color:black;
    background: #C4727F;
    	padding:20px;	
}


#container {
 width: 90%;
    margin: auto;
    padding: 20px;
	
}


footer{
 text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}








/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
 #container {
        max-width: 700px;	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
 #container {
        display: flex;
        justify-content: space-between;	
	
	
} /* closes 1024px+ */



    #author-perspective, #my-response {
        width: 48%;
    }
