/* Reset some default styles */

/*logan act*/
:root{
    --red: #b33939;
    --black: #000000;
    --blue: #3C5AA6;
    --yellow:#E1B12C;
    --white: #ffffff;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--black);
  color: #333;
}

/* Header styles */
.site-header {
  background-color: var(--blue);
  padding: 20px;
  border-bottom: 30px solid var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.main-nav a {
  text-decoration: none;
  color: var(--white);
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.main-nav a:hover {
  background-color: var(--red);
  border-radius: 5px;
}

/* Main content styles */
.content {
  padding: 40px 20px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h1{
    background-color:  var(--red);
    color: var(--white);
    text-align: left;
    padding-left: 10px;
}
img {
    width: 100%;
}

.blue{
    background-color:  var(--blue); 
    color: var(--white);
    padding-left: 10px;
    text-align: left;
}

.features {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.feature-item {
  background-color: var(--yellow);
  flex: 1;
  text-align: center;
}

/* Footer styles */
.site-footer {
  background-color: var(--yellow);
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

