/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
    border:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
    margin:0px;
	padding:0px;
     border:0px;
}

header{
font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
background-color: #A6808C;
margin:0px;
	padding:0px;
      border:1px;
border-style: solid;
    
}




body {
background-color: #565264;
color:#D6CFCB;
margin:0px;
	padding:0px;	
  border:0px;
    
}


footer{
font-family: "Lucida Console", "Courier New", monospace;
font-size:10px;
background-color: #CCB7AE;
color:#565264;
margin:0px;
padding:0px;
 border:1px;
border-style: solid;
}



div#container {
    font-size: 16px;
width:800px;
margin: auto;
padding:0px;
font-family: Arial, Helvetica, sans-serif;
background-color: #706677;
 border:0px;
}
p{

width:600px;
border-radius: 4px;
padding:15px;
padding-bottom:24px;
margin:20px;

}

